*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbox{
    height: 700px;
    width: 100vw;
    /*background-color: palevioletred;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.singinp{
    height: 700px;
    width: 350px;
    /*background-color: bisque;*/
    line-height: 20px;
    font-size: 14px;
    font-family: "Amazon Ember", Arial, sans-serif; 
}
.iocoi{
    height: 100px;
    width: 100%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.iocoi img{
    height: 90px;
    width: 70%;
}
.singup{
    /*margin-top: 10px;*/
    height: 300px;
    width: 100%;
    /*background-color: violet;*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.ca{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.egm{
    font-size: 16px;
    font-weight: bold;
    /*margin-bottom: 8px;*/
    margin-bottom: 5px;
}
.kalu{
    width: 90%;
    /*padding: 7px;*/
    margin-left: 2px;
    margin-top: 2px;
}
.con{
    width: 95%;
    height: 40px;
    margin-top: 10px;
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.con:hover {
    background-color: rgba(241, 222, 10, 0.699);
    cursor: pointer;
}
.pg{
    margin-top: 10px;
    margin-bottom: 10px;
}
.io{
    margin-top: 10px;
    margin-bottom: 10px;
}
.po{
    color: rgb(35, 179, 227);
}
.ko{
    height: fit-content;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}
.poco{
    gap: 60px;
}
.lo{
    margin: 10px;
}
.lalu{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.give{
    /* background-color:;*/
    height:30px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border: 0.1px solid black;
}

.give:hover {
    background-color: rgba(0, 0, 0, 0.052);
    cursor: pointer;
}